<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>
Adding Page2
</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1> Add genre</h1>

<div>
	<form th:object="${genre}" th:action="@{save2}" action="#" method="post">
		  	<label for="gnr">genre</label>
			<input type="text" id="gnr" th:field="*{name}" />
			<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Please enter a valid title</p>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="save"></input>
		</form>
	</div>
	</body>
</html>