<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
<style>
h2 {text-align: center;}
div {text-align: center;}
	</style>
<title>
Unauthorized Users
</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h2>Error: Only Premium-users can edit items or add genres!</h2>
<div>
<a  href="/gamelist">Back</a>
</div>
</body>
</html>